/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container{
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.choiceGame{
  /*display: none;*/
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container{
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container{
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
@font-face {
    font-family: "TrajanPro-Bold";
    src: url('../fonts/TrajanPro-Bold.otf');
}
@font-face {
    font-family: "TrajanPro-Regular";
    src: url('../fonts/TrajanPro-Regular.otf');
}
@font-face {
    font-family: "Game of Thrones";
    src: url('../fonts/Gameofthrones.ttf');
}
@font-face {
    font-family: "BebasNeue";
    src: url('../fonts/BebasNeue.otf');
}
@font-face {
    font-family: "SourceSansPro-Bold";
    src: url('../fonts/SourceSansPro-Bold.otf');
}
@font-face {
    font-family: "SourceSansPro-SemiBold";
    src: url('../fonts/SourceSansPro-SemiBold.otf');
}
@font-face {
    font-family: "SourceSansPro-ExtraLight";
    src: url('../fonts/SourceSansPro-ExtraLight.otf');
}

html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "TrajanPro-Bold", "TrajanPro-Regular", "Game of Thrones", "BebasNeue","SourceSansPro-Bold", "SourceSansPro-ExtraLight", "SourceSansPro-Semibold", sans-serif;
  color: #222; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300; }
h1 { color:white; font-size: 5.0rem; line-height: 1.2;  letter-spacing: 0rem; font-family: "BebasNeue";}
h2 { color:white; font-size: 3.6rem; line-height: 1.25; letter-spacing: 0rem; font-family: "BebasNeue";}
h3 { color:white; font-size: 3.0rem; line-height: 1.3;  letter-spacing: 0rem; font-family: "SourceSansPro-ExtraLight";}
h4 { color:white; font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; font-family: "TrajanPro-Regular";}
h5 { color:white; font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; font-family: "TrajanPro-Regular";}
h6 { color:white; font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; font-family: "TrajanPro-Regular";}


/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 12.0rem; }
  h2 { font-size: 7.0rem; }
  h3 { font-size: 1.5rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.buttonAccueil,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: block;
  height: 50px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 15px;
  font-family: "SourceSansPro-Bold";
  font-weight: 300;
  line-height: 45px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  margin-top: 8rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; 
}
.buttonAccueil:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.buttonAccueil:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: white;
  border-color: #888;
  outline: 0; }




/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
body{
  background:url('../images/trone.jpg') no-repeat;
  background-size: cover;
}

h1{
  text-align: center;
}

h3, h2, h5{
  text-align: center;
}

.playerVsPlayer{
  margin-top: 50px;
}

.playerVsPlayer, .playerVsAI{
  text-align: center;
  opacity:0.5;

}
.noai {
width:50%;
height: 50%
}

.separation{
  text-align: center;
  color:white;
  font-size:3rem;
  font-family: "SourceSansPro-Semibold";
}


.playerVsPlayer:hover{
  opacity:1;
}

 .playerVsAI:hover{
  opacity:1;
}




/* Larger than mobile */
@media (min-width: 400px) {

  body{
    background:url('../images/trone.jpg') no-repeat;
    background-size: cover;
  }

  h1{
  text-align: center;
}
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  body{
    background:url('../images/trone.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    margin:0;
    padding:0;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  body{
    background: url('../images/trone.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  body{
   background: url('../images/trone.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  body{
    background: url('../images/trone.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
  }
}

.choiceHouse{
  /*display: none;*/
  text-align: center;
  color:white;
  font-size:3rem;
  font-family: "SourceSansPro-Semibold";
  
  
}
.choiceHouse h2 {
  z-index: 1;
  position: absolute;
  width: 960px;
}
.allHouses{
  z-index: 0;
  height : 1000px;
  width: 960px;
  position: absolute;
  top :-50px;
}

#gauche,#droite,#milieug,#milieud,{
overflow:hidden;
display:inline-block;
}
/* safari and opera need this */
#gauche,#milieug {
  float:left;
}
#droite,#milieud {
  float:right;
  }
#gauche {
  width:25%;
  height: 100%;
  background:url('../images/targaryen2.png') no-repeat;
  background-position: 0px 180px;
  padding-bottom: 300px;
}
#milieug {
  width:25%;
  height: 100%;
  background:url('../images/baratheon2.png') no-repeat;
  background-position: 0px 180px;
  padding-bottom: 300px;
}
#milieud {
  width:25%;
  height: 100%;
  background:url('../images/lannister2.png') no-repeat;
  background-position: 0px 180px;
  padding-bottom: 300px;
}
#droite {
  width:25%;
  height: 100%;
  background:url('../images/stark2.png') no-repeat;
  background-position: 0px 180px;
  padding-bottom: 300px;
}

#gauche .maison{
visibility:hidden;
}
#gauche .devise {
visibility:hidden;
}
#milieug .maison{
visibility:hidden;
}
#milieug .devise {
visibility:hidden;
}

#milieud .maison{
visibility:hidden;
}
#milieud .devise {
visibility:hidden;
}

#droite .maison{
visibility:hidden;
}
#droite .devise {
visibility:hidden;
}

#gauche:hover .maison {
margin-top: 450px;
visibility:visible;
font-family: "SourceSansPro-Semibold";
font-size : 25px;
margin-bottom: 0px;

}
#gauche:hover .devise {
visibility:visible;
font-family: "TrajanPro-Regular";
font-size : 12px;

}

#milieug:hover .maison {
margin-top: 450px;
visibility:visible;
font-family: "SourceSansPro-Semibold";
font-size : 25px;
margin-bottom: 0px;

}
#milieug:hover .devise {
visibility:visible;
font-family: "TrajanPro-Regular";
font-size : 12px;

}
#milieud:hover .maison {
margin-top: 450px;
visibility:visible;
font-family: "SourceSansPro-Semibold";
font-size : 25px;
margin-bottom: 0px;

}
#milieud:hover .devise {
visibility:visible;
font-family: "TrajanPro-Regular";
font-size : 12px;

}
#droite:hover .maison {
margin-top: 450px;
visibility:visible;
font-family: "SourceSansPro-Semibold";
font-size : 25px;
margin-bottom: 0px;

}
#droite:hover .devise {
visibility:visible;
font-family: "TrajanPro-Regular";
font-size : 12px;

}

#gauche:hover{
   background:url('../images/targaryen1.png') no-repeat;
    background-position: 0px 180px;
   background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 300px;

}

#droite:hover{
  background:url('../images/stark1.png') no-repeat;
  background-position: 0px 180px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 300px;


}
#milieug:hover{
  background:url('../images/baratheon1.png') no-repeat;
  background-position: 0px 180px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 300px;


}
#milieud:hover{
  background:url('../images/lannister1.png') no-repeat;
  background-position: 0px 180px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 300px;

}